[merge]
        tool = kdiff3
[mergetool "kdiff3"]
        path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
        guitool = kdiff3
        tool = bc3
[difftool "kdiff3"]
        path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[core]
        editor = vim
        autocrlf = True
[user]
        name = Matthew McCallum
        email = matthew.potter@changepoint.com
[push]
        default = simple
[alias]
        undo = reset --hard
        logv = log --oneline --decorate --graph
        size = !git bundle create repo.size --all && du -sh repo.size && rm -f repo.size
        fb = !sh -c 'git filter-branch --subdirectory-filter $1 --tag-name-filter cat --prune-empty -- --all' -
[color "ui"]
        auto = true
[difftool]
        prompt = false
